{% extends 'admin/base.admin.html.twig' %}
{% block content %}

    <h1>Liste des article</h1>
    <p><a href="{{ path('admin_insert_article') }}">ADD article</a></p>


    <section>
        <table class="listAdmin">
            <tr>
                <td>Id</td>
                <td>Image</td>
                <td>Categorie</td>
                <td>Titre</td>
                <td>Date</td>
                <td>Est publié ?</td>
            </tr>
        {% for article in articles %}


                <tr>
                    <td>{{ article.id }}</td>
                    <td>
                        <div class="pic" >
                            <img src="{{ article.image }}" alt="">
                        </div>
                    </td>

                    {# condition ternaire pour afficher les articles n'ayant pas de catégorie #}
                    <td><p>{{ article.category ? article.category.title :'aucune catégorie' }}</p></td>
                    <td><h2>{{ article.title }}</h2></td>
                    <td>{{ article.createdAt | date('d/m/y') }}</td>
                    <td><p>{{ article.isPublished }}</p></td>
                    <td><a href="{{ path('admin_update_article',{ id:article.id }) }}">UPDATE</a>

                            <p class="jsDeleteButton">DELETE</p>

                        <div class="jsDelete">
                            <p>Voulez vous vraiment supprimer l'article ?</p>
                            <a href="{{ path('admin_delete_article',{ id:article.id }) }}">Supprimer</a>
                        </div>

                    </td>

                </tr>

        {% endfor %}
        </table>
    </section>

{% endblock %}